[2015-09-06 15:42] Charlotteis opened #1 "Set up SCSS build"
I would like this repository to use SCSS.

The way I would like this to act:
* I work on this github project locally
* I write in a .scss file
* Every time the .scss changes (on save of the file), compile the css and add it to style.css which will act as the main style for the site.

[2015-09-06 17:29] Charlotteis opened #2 "Write a guide to making a good issue"
I would like to write a guide for project maintainers to encourage them to write good github issues.

[2015-09-06 17:30] Charlotteis opened #3 "Create a logo"
Let's get a logo! Branding! Magic! For use on Twitter and other websites using a display picture (like GitHub)

I do not expect high quality, vectored, rastered, magical creations. Just have fun.
If you are able to incorporate this colour into it, that'd be magical! #9266CC (purple).

Any time is appreciated, you are wonderful.

[2015-09-06 17:36] nickcolley commented on #1
Do we need a pre-processor for this? Could just write pure CSS.

[2015-09-06 17:38] Charlotteis commented on #1
@nickcolley My reasons for using SCSS are: bleh, it's just what I'm used to.
I didn't put a whole lot of thought into it! However, I do want to minify our CSS using a build script or what have you, so I will create a new issue for that. Thank you :)

[2015-09-06 17:38] #1 closed

[2015-09-06 17:41] Charlotteis opened #4 "Create a build script for CSS minification"
This is not high priority, our CSS is unlikely to be big. This is just an opportunity for someone to try and get css minification working :)

1. Investigate and learn about CSS minification
2. Incorporate CSS minification through the use of a build script (such as through the use of NPM)

[2015-09-06 18:02] nickcolley opened #5 "Automated first issue helpers"
This might be a bit over thinking it but here it goes.

At the moment we can't just publish a list of github issues with labels since they might not have great instructions so I was thinking we could automate the review.

1. Have a format that can be parsed that contains the ingredients needed for a good first issue
2. Build a service (think Travis etc) that can watch a repo's issues
3. Expose fir

[2015-09-06 18:03] nickcolley opened #6 "Your first PR steps"
I was thinking, we sometimes have issues where you want it to be a first timer only issue but don't have the time for steps.

We could showcase these issues, it could even be someone's first contribution to open source!

[2015-09-06 18:06] Charlotteis commented on #6
This is interesting! How do you see this working? :)

[2015-09-06 18:07] Charlotteis commented on #5
This would be absolutely bloody amazing if this was ever a thing. I cannot state just how much this would be amazing. I don't know where to start with this, but I'd love to discuss this here.

[2015-09-06 18:07] nickcolley commented on #6
I was thinking this could be a biproduct of something like https://github.com/yourfirstpr/yourfirstpr.github.io/issues/5 but figured it should have it's own issue.

[2015-09-06 18:15] nickcolley commented on #5
I'm going to explore the issue formatting now. Will report back.

[2015-09-06 18:17] nickcolley opened #7 "(Testing issue formatting ignore me)"
Sorry for the spam I'm testing some issue formatting!

# Your First PR

## Steps
1. Test step 1
2. Test step 2
3. Test step 3

[2015-09-06 18:58] BPScott commented on #4
Alternative idea (he says sliding in, not knowing what you've got planned): I'm assuming this is going to be a static site built onto GitHub pages as you've got a gh-pages branch.

In order to avoid complicating the build and deployment process, GH Pages supports pushing the source of a [Jekyll](https://help.github.com/articles/using-jekyll-with-pages/) site to your pages branch, which it then aut

[2015-09-06 19:07] Charlotteis commented on #4
Thank you @BPScott! I will certainly consider my options the first chance I get. Also, a great step by step so you get an official 🌟from me :)

[2015-09-06 19:35] Charlotteis commented on #3
If you do create a logo for this, I will make stickers and send you some!

[2015-09-06 20:14] Charlotteis opened #8 "Command Line Tool"
`yourfirstpr` fetches the list of issues mentioned from the twitter stream
`yourfirstpr random` gets a single issue

Practically this isn't very useful. Issues get solved, there aren't many tweets. But it's a fun project to hack on.

[2015-09-06 20:55] pdurbin commented on #3
I dropped a link in #opensourcedesign on freenode in the hopes that someone from @opensourcedesign gets interested: https://botbot.me/freenode/opensourcedesign/msg/49110669/

I heard about @yourfirstpr in the @openhatch IRC channel (thanks, @ehashman!): http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2015-09-06#i_3701629

[2015-09-06 21:19] nickcolley commented on #5
Ok I've made a prototype: https://github.com/nickcolley/yourfirstpr-issue-proto

At the moment I'm just checking for the following:

Does the issue have a title of 'Your First PR'.

If it does parse it for a steps (lists).

If it has steps then it's good, if it doesnt show a message.

What we could do with is defining more characteristics of a good issue to continue

[2015-09-06 21:23] Charlotteis commented on #3
Hello @pdurbin, thanks! Very much appreciated :)
Lovely to see people talk about yourfirstpr :hand:

[2015-09-06 22:17] nickcolley commented on #5
Dumping some resources here:

- http://www.hanselman.com/blog/BringKindnessBackToOpenSource.aspx
- https://medium.com/@kentcdodds/first-timers-only-78281ea47455

[2015-09-07 11:21] Charlotteis commented on #5
Paging @mcmillan who seems to want to get involved!

[2015-09-07 12:58] prologic commented on #2
Like any good project management a *good issue* should:

- have a short concise title that summarizes the issue
- have a description that **clearly** states what is to be solved

Often I find keeping new issues short and to the point helpful. Often discussions will arise from them and may either evolve the issue into something more concrete or may spawn a new issue that more clearly defines what i

[2015-09-07 13:01] Charlotteis commented on #2
I agree, @prologic. I think I would write a guide generally for writing good issues, as well as a guide to write issues specifically for junior developers and others who have never done Open Source before.

Thank you for your contribution! :clap:

[2015-09-07 13:03] prologic commented on #2
Haha no worries! Just some thoughts I had!

On Monday, 7 September 2015, Charlotte Spencer <notifications@github.com>
wrote:

--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2015-09-08 19:15] Charlotteis opened #9 "Code of Conduct"
The website should not be started without a Code of Conduct ready to put live. Let's make one. Happy to source from various templates but edit it to our needs, to make sure it is as inclusive as possible.

[2015-09-08 20:32] YiyiZhang commented on #3
hi! I just made a couple for fun - very sorry if I didn't do the pull request correctly (am a github novice)

[2015-09-09 10:07] Charlotteis commented on #3
Hi @YiyiZhang! I replied on your PR, thank you for submitting one.

I would like to leave this open for other submissions as I'd like to let other people have a go, but these are fantastic.

[2015-09-09 14:11] YiyiZhang commented on #3
Awesome, saw the reply - thanks!

[2015-09-10 17:39] fredericmarx commented on #3
I also had a few ideas. Feel free to comment. Can send AIs/SVGs if wanted.

[2015-09-12 05:33] JayWIlsonJr commented on #4
I created a build script. When I try to commit it says I don't have permission. What did I do wrong?
Thanks.

[2015-09-12 12:47] Charlotteis commented on #4
Hi @JayWIlsonJr! You won't have permission to directly commit to this repository.

What you'll need to do is make a pull request.
To do this you'll need to fork the repository (the button that says 'Fork' at the top right of the page for this project), download your forked version to your computer and make your code changes there. You then commit your changes and can visit this project and click t

[2015-09-12 13:56] JayWIlsonJr commented on #4
Thanks!

[2015-09-15 07:42] hugovk opened #14 "GitHub pages for organization use the master branch"
https://help.github.com/articles/user-organization-and-project-pages/

*Project Pages* are the ones that use the `gh-pages` branch. This isn't a project page.

1. A PR is needed to merge the `gh-pages` branch into the `master` branch.

2. The repo owner can then set the `master` branch as the default branch here:
https://github.com/yourfirstpr/yourfirstpr.github.io/settings/branches

3. The repo o

[2015-09-15 07:52] Charlotteis commented on #14
@hugovk Thanks hugo, I'm so used to doing project pages that I completely missed this. Will fix when i can! Good to know this before I started to build the actual website :D

[2015-09-15 11:16] #7 closed

[2015-09-15 11:16] nickcolley commented on #5
Think this was over thought at this point.

[2015-09-15 11:16] #5 closed

[2015-09-15 11:17] #6 closed

[2015-09-15 12:47] Charlotteis commented on #5
@nickcolley I take it this is something you do not want to do?

[2015-09-15 13:11] nickcolley commented on #5
Just not sure it's a good idea.

[2015-09-15 13:59] Charlotteis commented on #5
Ok. Well thank you anyway. :+1:

[2015-09-26 10:59] Charlotteis commented on #14
Thank you @hugovk, I've done this now :)

[2015-09-26 10:59] #14 closed

[2015-09-26 11:00] Charlotteis commented on #9
We have a code of conduct now thanks to #13

[2015-09-26 11:00] #9 closed

[2015-09-26 11:00] Charlotteis commented on #8
We did this! Check out https://github.com/yourfirstpr/tweets.

[2015-09-26 11:00] #8 closed

[2015-09-26 11:03] Charlotteis opened #16 "Build the website"
This weekend I hope to get started on building the website.
It will be very simple to start with just an explanation of what yourfirstpr is, with holding pages for the guides we will write. Naturally, it must be fully accessible.

[2015-09-26 11:05] Charlotteis opened #17 "Keep humans.txt updated with every contributor to the project"
Everyone who is listed as a contributor by github, should have their name in humans.txt. Little script using the GitHub API to fetch this and copy all names to humans.txt.

[2015-09-26 16:32] #17 closed

[2015-09-26 16:33] Charlotteis commented on #16
Closed by #18

[2015-09-26 16:33] #16 closed

[2015-10-04 18:20] matheussampaio commented on #4
Hi, can I make a PR for this issue?

[2015-10-05 07:50] Charlotteis commented on #4
Hi @matheussampaio. I have an update on this issue.

@andeersg has made a Pull Request to change the way that the website is built. I will be reviewing this work as soon and hope to merge it. Then, the scope of this issue will change to do CSS minification under the guise of jekyll compilation.

Which means @JayWIlsonJr that, though your work is *awesome*, it will become incompatible with the new

[2015-11-01 03:48] diptajbasu commented on #3
Hi @Charlotteis!
Sending in a PR for a logo concept. Hope it's useful and happy to iterate on it.

Cheers!
![djb_logo](https://cloud.githubusercontent.com/assets/7990216/10867147/cc34a9a6-8029-11e5-81cb-4f212d0036b8.png)

[2015-11-20 15:02] Charlotteis opened #24 "FIX THIS"
I am getting errors. Please fix this now.

[2015-11-29 12:40] #24 closed

[2015-11-29 12:41] Charlotteis commented on #24
(This was a test issue)

[2015-11-30 21:25] Charlotteis opened #25 "Change COC to the Contributor Covenant"
http://contributor-covenant.org/version/1/3/0/code_of_conduct.md

And then PR yourself to the covenant repo.

[2015-11-30 21:35] Charlotteis commented on #4
Closing because our new Jekyll build negates the need for a CSS Build Script. Thank you for everyone who got involved, particularly to @JayWIlsonJr who did some great and cool code.

:sparkling_heart:

[2015-11-30 21:35] #4 closed

[2015-12-01 02:35] JayWIlsonJr commented on #4
Thanks for your kind words. Made my day. :smiley_cat:

[2015-12-01 10:52] Charlotteis commented on #4
:D

[2015-12-06 14:42] Charlotteis commented on #25
Did it! #26

[2015-12-06 14:42] #25 closed

[2015-12-06 18:34] Charlotteis opened #29 "Automate adding of "Contributors" to humans.txt"
Using the GitHub API.

[2015-12-06 18:34] Charlotteis opened #30 "Display a list of the YFPR tweets on the main page"
Using the Twitter API
- Not replies
- Only ones with GitHub links in them

[2015-12-06 20:34] Charlotteis opened #31 "Set up blog posts with Jekyll"
So we can write guides for being an awesome contributor and maintainer, as well as news and updates about Your First PR and it's events.

[2015-12-09 21:42] brad-j commented on #31
Hi! I'd love to work on this as my first PR.

From what I understand, you want to set up a blog for yourfirstpr.github.io right? Any Ideas of how you would like the posts to be displayed?

Also, I don't really know what needs-better-explination means. Can you shed a little light on this?

Thanks!

[2015-12-09 22:03] Charlotteis commented on #31
Hi brad!
So this website is built using [Jekyll](https://jekyllrb.com/). What I want to know is how easy is it to do the following with Jekyll:

- Keep the website as it is
- When you go to youfirstpr.github.io/blog you see a list of posts
- Posts take this format: youfirstpr.github.io//blog/name-of-post on the website
- Blog posts are written in a `/posts` folder of this repository
- Blog posts a

[2015-12-10 01:19] brad-j commented on #31
It does make sense and I'm familiar enough with Jekyll to get started. I've cloned the project and will get started! I'll use the hoodie site for reference.

[2015-12-10 14:46] Charlotteis commented on #31
Awesome! Thank you for dedicating time to this little website :)

[2015-12-15 03:41] brad-j commented on #31
Hi Charlotte!

I've got a page with a list of the blog posts and a page for each post. I've hit everything on the list. The styling is minimal (read: basically non-existent).

I would love to keep going! What are your thoughts on perhaps using Sass?

Thanks for letting me work on this!

<img width="1154" alt="screenshot 2015-12-14 22 26 26" src="https://cloud.githubusercontent.com/assets/11680498/

[2015-12-15 03:43] brad-j commented on #31
There's a little bug with the author name on the list of posts page. :-) I'm working on it.

[2015-12-15 09:25] nickcolley commented on #31
@brad-j feel free to get a WIP PR in, can help out with the review if you do that :+1:

No need to use Sass here since it's so simple I think.

[2015-12-15 15:32] Charlotteis commented on #31
Wow @brad-j, this is phenomenal. Really and truly, thank you. I wish I could high five you.
What are your reasons for using Sass? I'm happy to consider it, I use Sass all the time, I just would like to check the WHY before we make any moves on that.

:sparkles: :sparkles: :sparkles: :sparkles: :sparkles: :sparkles: :sparkles: :sparkles:

[2015-12-15 15:33] Charlotteis commented on #31
And thank you @nickcolley for offering help too \o/

[2015-12-15 17:00] brad-j commented on #31
No real pragmatic reason I guess (if the site continues to grow I can see a pragmatic benefit). It's just easier for me to wrap my head around Sass (oddly enough). Being able to break things out into little 'component' type things makes sense to me.

With that said, this is the first project I've ever worked so I could very well be getting ahead of myself.

[2015-12-15 18:17] Charlotteis commented on #31
Hey @brad-j! I totally get what you mean. Right now, I'm going to say no as Sass is another barrier to entry for those who are unfamiliar with it. And due to the size of the project (so tiny!) we do not need it right now. I am totally going to revisit this in the future though :)

[2015-12-16 13:58] penman commented on #29
I'll have a go at this if you want. :)

[2015-12-16 19:11] Charlotteis commented on #29
That'd be great!! @penman No rush or pressure, just do what you feel :) Thank you :)

[2015-12-16 20:12] ai opened #32 "Stylelint"
Stylelint is a very good CSS linter. Linter rules is a easy task. And they have special tag for `PR welcome` issues.

/cc @davidtheclark @jeddy3

[2015-12-17 19:08] penman commented on #29
I just implemented this using GitHub web hooks.

<img width="352" alt="screen shot 2015-12-17 at 19 02 00" src="https://cloud.githubusercontent.com/assets/2768870/11878993/ae74c392-a4f0-11e5-8a85-f5008543e5ef.png">

This, from [GitHub's documentation](https://developer.github.com/v3/repos/#list-contributors), is a problem, though:

Using the webhook approach, the contributors are checked immediate

[2015-12-17 21:30] zekiel opened #34 "DuckDuckHack"
DuckDuckHack is an open source platform for improving search results on [DuckDuckGo](https://duckduckgo.com/) with, "Instant Answers."
Instant Answers help solve your search in few or zero clicks ([like this](https://duckduckgo.com/?q=who%27s+in+space&ia=answer)) by integrating the Web's best APIs and other data into DuckDuckHack.

**Beginner issues** are tagged with, "[Low Hanging Fruit](https://

[2015-12-17 23:59] penman commented on #29
@Charlotteis ready! I just pushed [some code that does this](https://github.com/penman/humans). Do you have a server you can run it on?

[2015-12-18 04:19] Charlotteis commented on #29
I don't! But I will be sorting out some hosting over the next week or two. This is awesome, thank you. :D

[2015-12-18 14:32] igorshubovych opened #35 "TLDR page"
TLDR is a collection of simplified and community maintained man pages.

![TLDR example](http://tldr-pages.github.io/images/screenshot.png?s=200)

You can read more about TLDR on site:
http://tldr-pages.github.io/

Every man-page is just a Markdown file with command name, short description (1 sentence) and a few the most common examples. It is that easy. Check out several examples:

- [cd](https://

[2015-12-18 19:06] penman commented on #29
That's good. Let me know if you need any help when you're setting it up. :)

[2016-01-02 22:53] honeysilvas opened #36 "BlastPad UI, a lightweight and modular CSS front-end framework"
BlastPad UI is a lightweight and modular CSS front-end framework.

Learn more about BlastPad UI at:
http://blastpad.github.io/BlastPad_UI/

### New to Contributing?
We're a great open-source project for beginners because all you need to know to contribute is basic HTML and CSS.

We also accept contributions of design, documentation, support, marketing, SEO and more.

### Contributing
Check out our

[2016-01-02 22:56] Charlotteis commented on #36
Hey @honeysilvas, thanks so much for this, I will check BlastPad out! :)

[2016-01-06 16:42] NoahVlncrt opened #37 "Homework Planner WebApp UI"
Recently I have created a WebApp using meteor located at homeworkplanner.meteor.com right now it is using the bootstrap 3.

It's a very simple layout and everything is organized into templates which makes it even easier.

For anyone familiar with bootstrap theming or css in general this would be a great issue for you.

#Running Meteor to see changes
1.go to meteor.com and install
2.CD to project d

[2016-01-10 14:39] Charlotteis commented on #37
Thanks @NoahVlncrt!

[2016-01-10 14:41] Charlotteis commented on #31
Hey @brad-j, hows it going? Absolutely no rush to get this done, but I'd love to see what you've come up with / help with anything.

[2016-01-19 12:38] beforeadream opened #39 "Mr. Magnet"
Yet another torrent client for Windows, Mac and Linux

https://github.com/beforeadream/mrmagnet

![cover](https://cloud.githubusercontent.com/assets/864218/12418814/5ad4adae-beba-11e5-84eb-8f96b7e79f5c.png)

[2016-01-19 13:21] nickcolley commented on #39
Looking cool @beforeadream

Can you update this issue with how people can contribute first PRs? :+1:

[2016-01-19 13:24] beforeadream commented on #39
@nickcolley thanks a lot! Sure! :+1:

[2016-01-19 15:37] beforeadream commented on #39
@nickcolley updated

[2016-01-19 16:00] Charlotteis commented on #39
Thanks @beforeadream and @nickcolley :)

[2016-02-10 21:01] penman commented on #29
See #20 — there's a WAY easier way to do this that's completely automatic.
All that's needed is for the PR to be merged.

[2016-02-13 11:59] #29 closed

[2016-02-13 12:00] Charlotteis commented on #2
www.charlotteis.co.uk/making-your-first-pull-request/ starts to explain this.

[2016-02-16 14:36] g105b opened #41 "PHP7 DOM Document"
A relatively new project, but well structured and tested. "The modern DOM API for PHP7 projects".

Aims to reproduce a modern extension to [PHP's native DOMDocument][php-domdocument] functionality by extending the class and being deployed as a [Composer package][composer].

https://github.com/phpgt/dom

Issues are labelled [good-starter-issue][issues]

[php-domdocument]: http://php.net/manual/en/c

[2016-02-29 19:29] jk16 commented on #30
Hey how can i work on this?

[2016-03-01 10:59] Charlotteis commented on #30
Hey @jk16. It's actually not possible to work on it right now as the Twitter API requires OAuth/Server Side authentication and this is just a static website hosted on GitHub. If we ever move to our own server (fairly unlikely in the short-term) then we can try and do this. Sorry about that! When I wrote the issue I didn't know that the Twitter API worked in that way.

[2016-03-01 11:03] #3 closed

[2016-03-02 11:54] varya opened #42 "SC5 StyleGuide: Fix anchor links"
Ideal for Angular lovers
https://github.com/SC5/sc5-styleguide/issues/809

[2016-04-22 17:57] carlisia commented on #2
I'd like to make sure this resource is known so it can be included in the guide, it's super handy: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-05-27 08:36] luisfpinto opened #44 "netbeast, IoT platform"
Hello,
I'm an open source developer currently working on this project https://github.com/netbeast/dashboard

Netbeast is an IoT software platform that allow developer to create applications in order to control the smart devices. Apart from that, It also allows developers to include new brands to the supported list. It is based on Nodejs, Javascript and React and there are some issues from easy to

[2016-06-01 21:46] rowanmanning opened #45 "Pa11y"
Hey :)

I help maintain several projects based around web accessibility testing over at https://github.com/pa11y. I love what Your First PR is doing, and we'd be more than happy to help out new contributors to open source!

We label issues with "status: good starter issue" across all our repos, and the core contributors mostly don't touch these. [You can view them all here](https://github.com/issu

[2016-06-07 20:21] robjloranger commented on #31
Not much happening here, what's the status? Do you still need help? I use Jekyll for my site.

[2016-06-09 11:34] inglesp opened #46 "http-crawler"
I've just put together [http-crawler](https://github.com/inglesp/http-crawler), a simple library for crawling websites with Python.  It does enough to meet my own immediate needs, but there are a handful of enhancements that could make it more useful.  I've listed these on the [issue tracker](https://github.com/inglesp/http-crawler/issues).

I'd be delighted if somebody who was new to Open Source

[2016-06-24 15:19] coni2k opened #48 "First Mission: Contributors Page"
Hi,

We made an experimental attempt to help new contributors to get familiar with our project and make their first pull request.

You can find the details of our item on this link:
[First Mission: Contributors Page](https://github.com/forCrowd/WealthEconomy/wiki/First-Mission)

This is a permanent (repeatable by different user) item, so this issue can stay open.

Technologies we use in our projec

[2016-07-11 07:22] freakboy3742 opened #49 "Add BeeWare projects VOC and Batavia as beginner friendly projects."
The BeeWare project is a umbrella project for a collection of tools for building GUI apps in Python. The maintainers of BeeWare have an open offer to mentor anyone who wants to get involved; but in particular, there are two projects that are well suited to first-time contributors: [VOC](http://pybee.org/project/projects/bridges/voc/) and [Batavia](http://pybee.org/project/projects/bridges/batavia/

[2016-07-30 03:18] lpatmo opened #50 "Add CodeBuddies as a beginner-friendly open-sourced project option"
CodeBuddies is a community of independent code learners who enjoy sharing knowledge and helping each other learn faster. We come from all over the world! Everyone is welcome, independent of previous knowledge.

The new app that we built, which we're currently beta-ing (and fixing up issues) before we officially roll out, is 100% community-built by volunteers from around the world. The app helps th

[2016-08-04 03:12] lpatmo commented on #50
We just updated all our beginner-friendly issues with the `need-a-hero` label: https://github.com/codebuddiesdotorg/cb-v2-scratch/issues?q=is%3Aissue+is%3Aopen+label%3A%22needs+a+hero%22

:)

[2016-09-17 08:42] sourabhtk37 commented on #46
@inglesp Hey,I am available.(I am a beginner). :)

[2016-09-23 10:01] inglesp commented on #46
Hi @sourabhtk37.  Would you like to take a look at https://github.com/inglesp/http-crawler/issues/6, and let me know if you think it's something you can have a go at?

[2016-09-23 12:10] sourabhtk37 commented on #46
I will try to solve issues first(so as to understand) then move on to adding features.

[2016-09-26 18:22] benhaynes opened #52 "Directus"
Thanks for starting such a great resource/service!

We've been working on [Directus](http://getdirectus.com/) for over a decade and are quite passionate about open-source software. We maintain a `beginner` label in GitHub that tracks all issues/updates that could be handled by less experienced developers. We would love to be added to your listing so we can continue to improve this growing open-sou

[2016-09-28 10:16] sils1297 opened #53 "coala"
Hey,

I'm a coala maintainer - we have loads of newcomer issues at http://coala.io/new . We're proud to be newcomer friendly, usually have short response times and those dedicated newcomer issues so people can learn our workflow. Feel free to try it :)

Cheers!

[2016-09-28 22:13] robjloranger commented on #31
Quick update: Almost done with implementing this. Just tweaking styling a bit. Will write a quick first post to include in the PR.

[2016-10-10 10:05] djubreel commented on #46
Hello @inglesp I'm a beginner with python also, I'd love to try out a few new things

[2016-10-11 19:09] inglesp commented on #46
Hi @djubreel.  Would you like to take a look at https://github.com/inglesp/http-crawler/issues/3?  Let me know if you'd to talk about what a fix might look like.

[2016-10-16 08:46] #44 closed

[2016-10-27 15:01] Charlotteis opened #58 "Add a Pull Request Template"
Following this guide: https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

I'd love to have a PULL_REQUEST_TEMPLATE.md that looks something like:

[code]

Good use of emoji would be awesome, too! :D

[2016-10-27 15:21] codeavenger07 commented on #58
May I claim this? 👍

[2016-10-27 15:34] #58 closed

[2016-11-07 08:39] mei-li commented on #46
Hello @inglesp, are you still working on this project? If so I would like to help if there is sth.

[2016-11-08 11:42] #31 closed

[2016-11-08 11:43] Charlotteis commented on #31
This has been completed :)

[2016-11-08 11:45] #30 closed

[2016-11-08 11:45] Charlotteis commented on #30
I'll reopen this when we finally move away from GitHub pages?

[2016-11-14 11:20] jancborchardt opened #62 "Nextcloud"
Thanks a lot for making it easy for people to get involved in open source software! :)

At [Nextcloud](https://nextcloud.com) we have a »starter issue« label for small tasks to get involved with the project:
https://github.com/nextcloud/server/labels/starter%20issue

That label also exists in other repositories like [Calendar](https://github.com/nextcloud/calendar/labels/starter%20issue) and [Mail

[2016-11-14 11:22] MorrisJobke commented on #62
There is: https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Anextcloud+label%3A%22starter+issue%22

[2016-11-14 11:23] MorrisJobke commented on #62
Ah - only visible for members.

[2016-12-02 14:21] m1guelpf opened #63 "Activity"
At [Activity](https://github.com/m1guelpf/Activity) we have a "easy" label to help newcomers getting started with our project.

[2016-12-03 18:06] Siddharth11 opened #64 "iTunes Remote"
Hi,

I've create a small web app with React, Redux, Node, and AppleScript. AppleScript is a scripting language that can be used to automate actions on Mac. Leveraging its powerful yet easy to use feature I've created a web remote which can control iTunes on Mac. The AppleScript commands are executed on the server side.

Currently, the user needs to install all the dependencies and has to start the

[2016-12-15 04:49] Angelfirenze01 opened #66 "Bundler execution dies twice..."
Everything was fine with the clone until my command line got to the execution of Bundler:

`Using bundler 1.13.6
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

current directory:
/usr/local/lib/ruby/gems/2.3.0/gems/RedCloth-4.2.9/ext/redcloth_scan
/usr/local/opt/ruby/bin/ruby -r ./siteconf20161214-6740-1kyvraz.rb extconf.rb
checking for main() in -lc... yes
creating Makefile

[2016-12-15 04:51] Angelfirenze01 commented on #66
Bundler -v returns 'Bundler version 1.13.6'.

[2016-12-15 19:05] tkraak opened #68 "refactor pagination"
@Charlotteis ... I believe the pagination is broken due to [the permalink change I mad recently](https://github.com/yourfirstpr/yourfirstpr.github.io/pull/65/files). I suggest we get rid of the antiquated pagination implementation entirely and switch to a cool, JavaScript-based _"show more posts"_ solution. I would be glad to take this one.

Let me know what you think.

[2016-12-15 19:09] tkraak opened #69 "add the ability to specify a page title and description per post"
[This PR](https://github.com/yourfirstpr/yourfirstpr.github.io/pull/67) creates unique page titles and descriptions for pages. Let's do the same for posts.

[2017-01-06 13:26] #63 closed

[2017-01-12 16:29] inglesp commented on #46
Hi @mei-li.  Would you like to take a look at https://github.com/inglesp/http-crawler/issues/6?

[2017-01-22 21:04] slspencer opened #72 "Valentina: EASY! Move a menu entry"
Move an entry ('Pattern Properties') from the 'Pattern Piece' menu to the 'File' menu.
Fantastic easy for 1st pull request.
Valentina is written in C++ and uses Qt 5.7+ as the development environment. Qt makes building, testing, & debugging easy.
The repo is in Bitbucket and uses Mercurial (hg).
Issue #556: [https://bitbucket.org/dismine/valentina/issues/556/enhance-feature-move-pattern-properties

[2017-01-22 21:22] slspencer opened #73 "Valentina: EASY! Fix typo"
Replace all occurrences of 'allowence' with 'allowance'.
Fantastic easy for 1st pull request.
Valentina is written in C++ and uses Qt 5.7+ as the development environment. Qt makes building, testing, & debugging easy.
We have supportive developers and community for all of your questions.
Join our forum and introduce yourself! [http://forum.valentina-project.org](http://forum.valentina-project.org)

[2017-01-22 21:28] slspencer commented on #72
![movepatternproperties](https://cloud.githubusercontent.com/assets/578399/22186197/5ee3720c-e0b7-11e6-825d-85db042969c1.PNG)
![movepatternproperties2](https://cloud.githubusercontent.com/assets/578399/22186198/61ac97a2-e0b7-11e6-9ded-1bde9a6f4935.PNG)

[2017-01-22 21:29] slspencer commented on #73
![typoallowence](https://cloud.githubusercontent.com/assets/578399/22186205/7d0f5a0c-e0b7-11e6-927d-81941da02d46.PNG)

[2017-01-22 23:33] swapagarwal opened #74 "J.A.R.V.I.S. on Messenger"
Jarvis is a community-driven python bot that aims to be as simple as possible to serve humans with their everyday tasks. Visit https://github.com/swapagarwal/JARVIS-on-Messenger for more details.

Many people have made their first open-source contributions via this project. To keep it that way, beginner level issues are regularly added. 😄

To start, one can pick up any of the issues tagged with "[

[2017-01-25 04:30] igormp commented on #73
I believe it should be closed since it has been already solved in the bitbucket repo

[2017-01-26 01:55] slspencer commented on #73
Thanks Igor!

On Tue, Jan 24, 2017 at 10:30 PM, Igor Moura <notifications@github.com>
wrote:

[2017-01-26 01:56] slspencer commented on #73
Closed issue

[2017-01-26 01:57] #73 closed

[2017-02-04 18:16] slspencer opened #75 "Valentina: EASY Menu enhancements"
Valentina is an open source project to disrupt the fashion industry.
We use Qt for a user-friendly development environment, and C++ for quick code execution.
This issue would be great for someone learning C++.
Valentina's Measurement menu needs to be rearranged, and an item renamed, to improve the user experience.
For more details, review the Bitbucket issue: [Enhance Feaure: Measurement Menu](htt

[2017-02-21 04:54] studenton opened #76 "Shuffle: Easy UI Issues"
I have few ideas to left implement in my [webapp](https://studenton.com/shuffle). If you're interested, have a look.

https://github.com/studenton/shuffle/issues

You're also free to suggest new feature requests. We can discuss it and then you can implement it. Open a issue for that.

[2017-02-23 07:39] maur3s commented on #76
hi, if you want, i can help you with some features

[2017-02-23 12:21] studenton commented on #76
@maur3s Sure. What are the features you're interested in?

[2017-02-24 16:44] studenton opened #77 "NepalMap"
We've lots of issues in which you can help.

Have a [look](https://github.com/Code4Nepal/nepalmap_app/issues).

Issues for outside contributors are tagged with help-needed.

[2017-03-08 12:44] studenton opened #78 "Cutcode - Double click any code snippet on Stack Overflow to copy it to clipboard"
I've worked on a Chrome extension called cutcode. It's available [here](github.com/studenton/cutcode).

The logic is simple Javascript injection. Have a look at the code and see if you can make changes. Few ideas where you can help:

- Expand the extension to include other sites such as StackExchange and similar sites where codes are posted.
- Improve documentation for installation steps by includ

[2017-03-09 15:47] Asutosh989 commented on #76
Hi @studenton ,  Can you share a documentation or something about this project to analyse it. Actually I am new to open source projects and i am pretty inexperienced  in this open source stuffs.

[2017-03-10 12:25] abhisheksoni27 commented on #78
The link you have highlighted above doesn't work. You might wanna change that.

[2017-03-10 12:45] studenton commented on #78
@abhisheksoni27 Thanks for noticing. Fixed.

[2017-03-12 17:12] studenton commented on #76
@Asutosh989 I can help you along the way. Please have a look at the code once and tell me the areas you're having trouble understanding.

[2017-03-12 21:56] Asutosh989 commented on #76
@studenton  I have some problems in understanding the js files as I have started learning js and nodejs recently. Can i contact u over slack or email or something of that stuff so as to discuss the issues.

[2017-03-13 04:08] studenton commented on #76
@Asutosh989 Sure. Here's my email: `studenton.com@gmail.com`

[2017-03-17 14:19] omokehinde commented on #76
I am interested and want to contribute

[2017-03-17 14:44] studenton commented on #76
@omokehinde Great. What do you want to work on?

[2017-03-19 00:45] mohammedri commented on #2
Hi there! I would like to give my 2 cents on issues:
Many times I see issues that folks post which may not seem as important to me vs. how excited they are about it. This always happens when they have a different context in their minds, then me/other developers, so the issue gets ignored or left behind. Therefore I think giving a good context (specially for feature requests) is a very important pa

[2017-03-21 14:53] maur3s commented on #76
hi studenton, sorry if i'm late!
i think that one of best features of your shuffle is a button to skip actual song and go to next one.

[2017-03-21 15:44] studenton commented on #76
@maur3s Actually, it's implemented already on the site: https://studenton.com/shuffle. There is a button called **Reload** on the navbar.

[2017-03-21 15:47] maur3s commented on #76
I've seen it, but i'm talking about something that allow you to go forward and back into my random playlist.

I'm thinking about two buttons like << and >>, but you must save last 10 or 20 songs to allow you to go back.

i hope i can explain my idea!

[2017-03-21 15:57] studenton commented on #76
@maur3s Understood. I got a rough idea how it could be implemented. Currently, we choose a song based on its index in the playlist. See [this line](https://github.com/studenton/shuffle/blob/gh-pages/static/js/script.js#L20). So for forward and back, if you can increase or decrease the index, you'll get the previous and next song in playlist.

But since a playlist has a max number of items, which i

[2017-03-27 06:58] m1guelpf opened #79 "OrgManager"
At OrgManager, we have an [beginners-only label](https://github.com/orgmanager/orgmanager/labels/beginners-only) to help beginners get started

[2017-03-31 23:45] shahzeb1 opened #80 "SoundCloud web streaming player."
Hello,

[This SoundCloud web player](https://github.com/shahzeb1/soundcloud-player) is in its early stages, and could use some improvement. Check out the [issues](https://github.com/shahzeb1/soundcloud-player/issues) page. [Here](https://shahzeb1.github.io/soundcloud-player/) is the service running.

😄

[2017-04-09 12:32] ars3nal commented on #46
Hey, i would like to work on something related to webscrapping. Are you still working on this projects?
I'll go ahead and take a look at the issues,

[2017-04-28 06:40] sunilsachdeva commented on #50
Slack address has changed from codebuddiesmeet.slack.com to codebuddies.slack.com

[2017-04-28 06:57] lpatmo commented on #50
@sunilsachdeva Yes, that's right! (Technically codebuddiesmeet still redirects to codebuddies, but that could change at any time.) Slack self-signup is still on the home page at codebuddies.org.

[2017-05-04 02:24] feministy opened #81 "Cryptozoologist: Ruby gem string manipulation funtimes!"
Hello friends 👋 !

Do you know how to do string manipulation in Ruby? Do you like playing with arrays? Do you like animals, colors, and silly things?

Well then you'll love [Cryptozoologist](https://github.com/feministy/cryptozoologist)!

I've got two issues that will help you learn how to:

- work with modules
- contribute to a Ruby gem
- flex your string manipulation muscles 💪
- write some tests

[2017-05-04 07:01] omokehinde commented on #81
am interested

[2017-05-04 16:01] feministy commented on #81
@omokehinde could you comment on one of those issues linked above and let me know which one you're interested in? thanks!

[2017-05-10 00:54] amitness commented on #76
@maur3s Any update on the feature you were implementing?

[2017-05-10 01:44] amitness commented on #76
@omokehinde Any updates? If you're stuck somewhere, feel free to ask.

[2017-05-13 00:25] acgillette commented on #81
I'm interested in the State issue! :)

[2017-05-13 00:26] acgillette commented on #81
Or I see someone is doing the states, in which case I can try the cities one.

[2017-05-17 17:41] feministy commented on #81
go for it @acgillette!

[2017-05-20 03:34] thenorthstarblues commented on #76
Hi all! I would be interested in contributing to the project. I had an idea for a similar app that would play random videos associated with a certain search term. I would be happy to work on the back and forward buttons that were mentioned previously, or I could suggest other features.

[2017-05-20 15:45] amitness commented on #76
@thenorthstarblues Sure. Let's work on the back and forward buttons and then we could discuss your suggested features as well.

[2017-05-20 19:01] thenorthstarblues commented on #76
@amitness Cool! I'll start on it right now.

[2017-05-30 08:52] niccokunzmann opened #82 "Making First-Time Contributions Visible"
I was writing about how to create good first-timer issues. I recognized I do not have any data. Thus, I created the [first_timer_scraper](https://github.com/niccokunzmann/first_timer_scraper).
The idea:

1. Scrape repositories for first-time contributions (DONE)
2. Find out the issues (TODO)
3. Infer, what makes a good first-timer issue (TODO)

Currently, one can add a label to show how many first

[2017-06-27 14:07] Charlotteis commented on #82
Hey

This could be useful of maintainers of large projects. It'd probably act as a "look how good we are for beginners" trophy.

Cool stuff.

[2017-06-28 13:46] jabdoa2 opened #83 "Mission Pinball Framework - Open Source Software for Pinball Machines"
The Mission Pinball Framework (“MPF”) is a free Python-based pinball software framework that’s used to run real pinball machines. It allows both casual builders and hard-core programmers to create the software to run their pinball machines—whether it’s new game code for an existing pinball machine, a “re-theme” of an old machine, or totally custom / homebrew machine built from scratch.

We offer a

[2017-06-28 15:04] Charlotteis commented on #83
Cheers!

[2017-07-04 17:27] PSNAppz opened #84 "TorBot - a python web crawler for deep and dark web lovers"
# [TorBot](https://github.com/DedSecInside/TorBoT)

Torbot is a feature rich python 3 web crawler specially made for deep web crawling. It has more features than a normal web crawler. Read more about _torbot_ [here](https://github.com/DedSecInside/TorBoT/blob/dev/README.md). _**Contributions are welcome.**_

[2017-07-24 12:00] Supahupe commented on #46
Hi @inglesp , are you still interested in support to add new enhancements to http-crawler? I am interested in supporting your project.

[2017-07-25 06:25] inglesp commented on #46
Hi @Supahupe -- I'm afraid I don't really have time to offer any help with this at the moment.  Thanks for your interest.

[2017-07-25 06:25] #46 closed

[2017-07-25 15:58] SarahSexton commented on #82
This is a great discussion, highlighted sharply by Scott Hanselman's site: [http://www.firsttimersonly.com/](http://www.firsttimersonly.com/) where he says, "We believe that learning how to code, how to think, _and how to contribute to open source_ can empower the next generation of coders and creators." There is a label marking easy open issues "first-timers-only". The first-timers-only label exp

[2017-09-06 21:41] jbapple-cloudera opened #86 "Impala: a distributed database management system"
Impala is a database management system for clusters of machines. It works on data stored in HDFS, S3, Kudu, and other storage systems as well. It has been open source for about 5 years, and is written in mainly C++ and Java, with parts in Python and Bash. It gets about 100 commits a month, and new contributors are welcome.

Bugs for first-time contributors are labelled "[newbie](https://issues.apa

[2017-09-14 00:32] haegul commented on #82
sounds good.

[2017-09-14 07:26] niccokunzmann commented on #82
I recognized that GitHub now has a badge on the top of a pull-request for new contributors to the project.

[2017-09-24 13:14] Brittanymarie opened #87 "Received"

[2017-10-24 08:42] seba1228 opened #90 "Ttt"

[2017-10-24 08:43] seba1228 commented on #90
Ok

[2017-10-24 11:00] R3l4x3 commented on #90
Ok

[2017-10-24 12:47] seba1228 commented on #90
🆒

[2017-10-28 12:38] SaifJerbi opened #91 "SF JAVA UI for Angular Schema Form"
The [SF-JAVA-UI](https://github.com/JsonSchema-JavaUI/sf-java-ui) is a server side extension for the [Json Schema Form](https://github.com/json-schema-form) library, It make the integration of the [angular schema form](https://github.com/json-schema-form/angular-schema-form) library into Java-Angular Web Project easier. You will not care about how to define your schema and your screens form defini

[2017-11-04 17:53] priyanshugandhi commented on #2
What is an issue?

Issue queues should mirror your thought process. Issues are where you structure your ideas, with others or alone.
Issues should focus on ideas, problems, and solutions; they are not activity trackers. While you want to share your ideas as they unfold, you may not want to comment every little bit of activity you register on an issue; for this, IM, commit messages or Scrum meeting

[2017-11-12 06:23] Superari15 opened #95 "404 Page Creation Required"
I need a good 404 page for my website - https://github.com/Superari15/funari/issues/1,

[2017-11-23 07:47] vattytrivedi commented on #95
### Here are few best 404 pages from the [Codepen](https://codepen.io/saransh/pen/aezht).
- https://codepen.io/saransh/pen/aezht
- https://codepen.io/marcobiedermann/pen/WbGazL?q=+404+page.&limit=all&type=type-pens
- https://codepen.io/kborling/pen/QwbKEe?q=+404+page.&limit=all&type=type-pens
- https://codepen.io/mycnlz/pen/LNbwwj?limit=all&page=2&q=+404+page.
- https://codepen.io/benstanley/pen/J

[2017-11-26 22:05] viktor22833 commented on #91
Good

[2017-12-01 02:10] pernambucano commented on #95
The issue is closed in the original [repo.](https://github.com/Superari15/funari/issues/1) Shouldn't we close this as well?

[2017-12-01 02:13] pernambucano commented on #90
This issue should be closed so it won't confuse first timers.

[2017-12-01 02:14] pernambucano commented on #87
This issue should be closed so it won't confuse first timers.

[2017-12-03 10:17] Superari15 commented on #95
Yes.
On 01-Dec-2017, at 7:41 AM, Paulo Fernandes <notifications@github.com<mailto:notifications@github.com>> wrote:

The issue is closed in the original repo.<https://github.com/Superari15/funari/issues/1> Shouldn't we close this as well?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/yourfirstpr/yourfirstpr.github.io/i

[2017-12-16 01:38] carlspring opened #96 "Strongbox"
[Strongbox](https://github.com/strongbox/strongbox/) is a new artifact repository manager written in Java.

New contributors are always welcome! We are looking for developers, testers and people to help with our documentation, (but, generally, any help is welcome!).

The project is under an [Apache 2.0 license](https://github.com/strongbox/strongbox/blob/master/LICENSE). Contributors are required

[2018-01-16 18:28] vutondesign opened #97 "CSS Grid System"
vutondesign/bronze#7

I have an issue open in my CSS framework repo that requests a simple grid system to be added. I haven't gotten round to it yet, but it seems quite a simple thing to add, so I thought I'd post it here.

[2018-01-17 15:52] vutondesign commented on #97
Fixed in the original repo.

[2018-01-17 15:52] #97 closed

[2018-01-21 10:11] anu0012 opened #98 "awesome CS opportunities"
[Awesome computer science opportunities](https://github.com/anu0012/awesome-computer-science-opportunities) is a curated list of various events, learning platforms and fellowships for a computer science student. A student who comes from high school finds it difficult to get the right opportunities in college. I made this repository so that he/she won't have to struggle anymore.

Any beginner to op

[2018-02-15 04:12] apopovi2 commented on #86
I would like to help out in any way i can

[2018-03-06 09:04] SevastyanDark opened #100 "LogIO - simple and lightweight logger for JVM"
Logio is a new logger written in Kotlin

New contributors are always welcome! We are looking for developers, testers and people to help with our documentation, (but, any help is welcome!).

The project is under an Apache 2.0 license. For more details on how to [contribute,please read here](https://github.com/SevastyanDark/logio/blob/master/CONTRIBUTING.md)

Issues marked with "help wanted" and "go

[2018-03-21 15:29] hatlesshacker opened #101 "LibFalcon - Simple C library for Hobby OS Kernels"
https://github.com/Zefyer/LibFalcon

Most routines required by simple hobbyist kernels are provided here, however A LOT of functions are not yet implemented. Help is required for implementing Math-functions and documentation.
Looking forward to working with interested developers!

[2018-03-28 13:46] bookercodes opened #102 "React and Chatkit Slack Clone"
My team and I built a Slack clone using React and [Chatkit](https://pusher.com/chatkit). Here's a link to the repository: https://github.com/pusher/react-slack-clone

We have a number of "Good first issue"s, and would love to get you involved, and guide you through your first pull request: https://github.com/pusher/react-slack-clone/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2018-03-31 11:50] cand126 commented on #102
Hello @bookercodes,

I try to run the project, but I got this error when I click the add button to create a room.

![image](https://user-images.githubusercontent.com/6241921/38162905-415534f4-34ea-11e8-8619-bf26bee0b0a3.png)

[2018-04-01 02:12] EduardoSaverin commented on #102
@cand126  You seems to have clicked + button without filling Room Name in "Create a Room" input,first fill room name and then click + button.
Happy Coding

[2018-04-01 10:55] cand126 commented on #102
@EduardoSaverin Thank you :)

[2018-04-29 07:58] Progit1974 opened #103 "new community"
new

[2018-05-02 10:48] Progit1974 commented on #103
myfirstpage

[2018-05-02 10:49] Progit1974 opened #104 "myfirstpage"
hello

[2018-05-07 01:26] piyush97 opened #105 "Unable to create a Signed APK"
### Here's the link to the issue
https://github.com/piyush97/CrypTrack/issues

[2018-05-10 03:42] jcc5225 commented on #101
I'm interested in contributing to your project. What kind of math functions did you have in mind?

[2018-05-20 16:20] #105 closed

[2018-05-22 06:07] amitguptagwl opened #106 "Imglab - label images manually for object recognition"
## About
[Imglab](https://github.com/NaturalIntelligence/imglab) is the web based interactive tool for image labeling. You can mark an object and it's featurepoint. You can save all labelled information and feed it to other libraries which can help you to detect objects or create models for other machine learning softwares or object detectors.

Technically, this project is completely developed wit

[2018-05-23 06:05] Obsinqsob01 commented on #104
If you don't have anything to contribute close the issue

[2018-05-23 08:26] #104 closed

[2018-07-08 16:48] rugk opened #107 "Offline Qr Code Generator – JS browser add-on"
I am the maintainer of https://github.com/rugk/offline-qr-code, a (Firefox) browser add-on/WebExtension.

We've got [many "good first issues"](https://github.com/rugk/offline-qr-code/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22), relatively "small" so you can grasp what each module and what the whole project does and written in "languages of the web", so many people likely know the

[2018-07-27 19:10] w7788129 opened #108 "w7788129@"

[2018-07-31 22:11] mattcheah opened #109 "Cover Letter Snippets - Contributions Welcome!"
Hi All,

I created a locally hosted  application called (Cover Letter Snippets)[https://github.com/mattcheah/cover-letter-snippets/]. It's a tool that helps you store snippets of the cover letters you have written, and parse job descriptions so you can quickly create customized, relevant cover letters that address all of the keywords that an employer is looking for.

Check it out first (`npm i -g

[2018-08-16 01:13] varyshare opened #110 "my first issue"
hello world

[2018-08-27 21:41] yhlong0 commented on #110
Hi, are you trying to write hello world in markdown

[2018-09-01 12:07] NetHunter7773 opened #111 "NetHunter"

[2018-09-01 12:08] #111 closed

[2018-09-07 13:11] ramvenuturumilli commented on #105
the link is expired

[2018-10-01 06:11] love-san opened #114 "Quiet a tardy issue this is....;)"

[2018-10-01 06:31] mathyoudawson commented on #114
Hi, is there any more info on this? 😸

[2018-10-01 15:49] arkwrn opened #116 "Say Hay Issue"
Please say hay to the other's 💃

[2018-10-02 02:32] alangberg commented on #116
hay!

[2018-10-02 05:02] hatlesshacker commented on #101
Heyya jcc5225!
Take a peek at the code, you'll find that functions like abs(), ldiv(), sqrt() are not there. Would be great if you do something about it! :100:

[2018-10-02 06:40] Vanhoehenheim commented on #116
hay!

[2018-10-02 08:32] sarthak77 commented on #116
hay

[2018-10-02 10:40] KangJO commented on #116
hay!

[2018-10-02 11:30] jeongwhanchoi commented on #116
hay hey hey!

[2018-10-02 11:51] jeongwhanchoi opened #117 "Is there no managing anymore?"
I'm too late to know this GitHub, maybe..?

[2018-10-03 22:38] ashraysinha6069 commented on #116
hay

[2018-10-04 22:18] ecoologic commented on #116
Hay!

[2018-10-04 22:40] bianavic commented on #116
hi!

[2018-10-05 09:57] Surajbsb commented on #116
hay

[2018-10-05 10:32] dnafication commented on #116
Hay?

[2018-10-05 14:52] sahilwasan000 commented on #116
hey

[2018-10-07 15:36] Narayanaio commented on #116
Hi

[2018-10-07 15:58] priyanshu5 commented on #116
Hay!!

[2018-10-07 16:11] neville-tech commented on #116
hay

[2018-10-07 19:09] ScionOfBytes commented on #116
hay!

[2018-10-10 06:12] marioepugh commented on #117
It's never too late to know Github!

[2018-10-10 14:07] jeongwhanchoi commented on #117
I mean this repository :)
I've known GitHub one year ago

[2018-10-10 14:07] #117 closed

[2018-10-10 20:19] tifa64 opened #120 "My first issue"
Hello Krietallo

[2018-10-11 01:03] eharris99 opened #121 "update Gemfile.lock"
Hi

This is my first real pull request for Hacktoberfest. I tried to `bundle install` but it wouldn't work with the Gemfile.lock having the versions it does. I deleted the Gemfile.lock and will PR with new one.

Thanks

Elise

[2018-10-18 22:11] Verrtigo commented on #116
Hay!

[2018-10-19 17:02] JavaVista commented on #116
Hay!

[2018-10-21 06:51] Devil1729 commented on #116
hay

[2018-10-21 06:52] Devil1729 commented on #116
Hay

[2018-10-26 15:42] samsonyuwono commented on #116
Hay

[2018-10-29 05:10] CAG07 commented on #116
Hay!

[2018-10-29 05:16] tahirjalilov commented on #116
Hay!

[2018-10-29 17:28] khanna98 opened #138 "Footer content must be in center"
The copyright content must be in the centre of the page.
It makes it more good looking.

[2018-10-29 23:00] borfus commented on #116
Hello everyone!!

[2018-10-30 08:43] ScionOfBytes commented on #116
I feel like this repo is dead.

[2018-10-30 12:43] bianavic commented on #116
Hello!

[2018-10-31 04:17] sgirabin commented on #138
Is it still open or solved?

[2018-11-03 11:47] ollelauribostrom opened #145 "Rebus game"
During Hacktoberfest I created [Rebus](https://github.com/ollelauribostrom/rebus). The goal of the Rebus repo is to help you take your first steps as an open source contributor by developing a simple (but hopefully fun) rebus game together.

The repository contains a [step-by-step guide](https://github.com/ollelauribostrom/rebus#how-to-contribute) on how to make your first open source contribution

[2018-11-06 06:52] javaart commented on #120
heelo erveryone

[2018-11-06 06:53] betterjava opened #146 "my first pr can do what"
hello everyon ,I am learn to pull

[2018-11-06 07:43] rugk opened #147 "Favicon.ico missing"
In the network console, I can see Firefox is just always getting a 404 error when trying to request a favicon in `favicon.ico`. :smiley:

[2018-11-07 20:16] sgrpwr commented on #116
Hay

[2018-12-24 16:04] fibanneacci opened #150 "lang++: code editor w/ support for non-English languages"
[lang++](https://github.com/fibanneacci/langplusplus) is a code editor with tools to support non-English languages. Currently we are seeking contributions in code translation (good for developers new to Github or who wish to contribute in non-code methods). Please check out our repository and contributing guidelines if you're interested!

[2019-01-05 04:10] mandylatson opened #151 "To many Bank issues making you wait for your hard earned money? Why not try Electronic Identification paycheck transfer, strait to you own face. Get paid directly on you're State Identification Card contracted directly from your employer. No more waiting at the bank, No mare identity theft, its all in your own hands and in your own wallet, thank you Mandy Latson only1life2live4solove@gmail.com (360)442-8414"
Electronic Paycheck Identification Card, No more waiting in long lines at the bank. No more 24 hour pending time. No Identity theft, keep your identity and your paycheck, its on your State ID.

[2019-01-11 06:55] #100 closed

[2019-01-13 06:05] sinharaksh1t commented on #138
Is this still open?

[2019-01-14 19:20] mandylatson commented on #151
Mandylatson Bank U

[2019-02-01 17:00] A1337CBS commented on #147
I opened the page yourfirstpr.github.io in Firefox and could not see this issue so  can you be more specific as to where are you seeing this issue?

[2019-02-01 21:17] rugk commented on #147
Yeah, it's only one request, but getting away from these technical details: The issue here is, that the website has no favicon. No website™ should have no favicon.

[2019-02-07 15:09] naftalima commented on #116
hay

[2019-03-01 08:36] DogukanKundum opened #153 "my first pull request"
hi everbody, this is my first pr.

[2019-03-02 06:22] #153 closed

[2019-03-07 09:28] Kiku-git opened #154 "Meow"
Neow

[2019-03-07 12:30] #154 closed

[2019-03-14 18:16] gabymorgi commented on #116
Hayn't

[2019-03-16 11:40] hkp27299 opened #155 "python scraping"
Build APK to compare mobile phone price from all e-commerce companies ex-flipkart,amazone etc..i m working on it.

[2019-03-31 01:52] #146 closed

[2019-04-19 01:13] CorruptComputer opened #158 "Good issue for a first time open source contributor"
I have a small Discord Bot written in Java, and recently I upgraded the library I was using and forgot to update some things to have Color's associated with them. If anyone wants to take a look at it, the issue can be found here: https://github.com/CorruptComputer/Officer-Beepsky/issues/4

I believe this is a good first issue, and great first PR/exposure to Open Source.

I would be happy to help a

[2019-04-26 19:43] CorruptComputer commented on #158
This has been fixed, thanks to all which were interested!

[2019-04-26 19:43] #158 closed

[2019-05-04 17:48] angcabb commented on #116
Hay!

[2019-06-04 02:40] #155 closed

[2019-07-07 20:46] rjsu26 opened #160 "Article link giving 404 error"
### The article "First Timers Only" is showing 404 error after being redirected on Medium.
Relevant snapshots are shown below

![image](https://user-images.githubusercontent.com/32229344/60773639-ffdc4b80-a125-11e9-8a38-9be2a0c539c9.png)

![image](https://user-images.githubusercontent.com/32229344/60773654-36b26180-a126-11e9-84dc-5e15fa5c7003.png)

[2019-07-08 16:06] vineeth-krishnan commented on #160
**Replace**  the hyperlink (*First Timers Only*) with
https://kentcdodds.com/blog/first-timers-only/

[2019-07-09 14:08] fboechats commented on #160
Just solved that issue: https://github.com/yourfirstpr/yourfirstpr.github.io/pull/161

[2019-07-17 06:55] #160 closed

[2019-08-24 13:38] Matthew1234567w commented on #145
Judging by my othet exploits done today on this. I would say its a lot harder than people let on. But ill give it a go

[2019-08-25 15:36] gonaicsoft commented on #147
Has it been resolved or can I work on it?

[2019-08-25 15:45] rugk commented on #147
If I visit https://yourfirstpr.github.io/ I still see no favicon, so AFAIK/as it seems, it does not seem to be resolved.

[2019-09-19 00:25] jw03070 commented on #110
hi

[2019-09-19 00:29] yhlong0 commented on #110
~finally someone reply.~~~~

[2019-09-27 20:00] rubynho commented on #120
Eai pessoal :brazil:

[2019-09-27 20:01] rubynho commented on #110
# Hello

[2019-09-27 20:02] rubynho commented on #110
# Word

[2019-09-28 10:27] kobakashi opened #176 "Error while trying to run 'bundle exec jekyll serve'"
Unable to resolve dependency: user requested 'did_you_mean (= 1.1.0)' (Gem::UnsatisfiableDependencyError)

[2019-09-30 04:02] yhlong0 commented on #110
⁣❕🐷❕❕❕🐷❕
🐷🐷🐷🐷🐷🐷🐷
🐷⚫🐷🐷🐷⚫🐷 
🐷🐷🐷⁣🐽🐷🐷🐷
🐷🐷🐷👅🐷🐷🐷
❕🐷🐷🐷🐷🐷❕
🐷❕❕❕❕❕🐷

[2019-09-30 19:24] jaibhageria commented on #116
Hay

[2019-10-01 10:07] shivamkainth commented on #147
I am going to work on this.

[2019-10-01 13:34] parthpandyappp commented on #95
I'll be very glad to contribute here.

[2019-10-02 02:43] m2paulc commented on #116
hay!

[2019-10-02 04:01] JavaVista commented on #116
hay!

[2019-10-02 07:12] kojiadrianojr commented on #116
hay!

[2019-10-02 07:57] #95 closed

[2019-10-02 08:45] blockspacer opened #192 "CXXCTP - C++ compile-time programming (serialization, reflection, code modification, extend or parse language, etc.)"
[CXXCTP](https://github.com/blockspacer/CXXCTP) is a transpiler that extends C++ for new introspection, reflection and compile-time execution.

New contributors are always welcome! We are looking for developers, testers and people to help with our documentation, (but, generally, any help is welcome!).

The project is under an `MIT` [license](https://github.com/blockspacer/CXXCTP/blob/master/LICENS

[2019-10-02 09:39] ChetanSankhala commented on #116
Hay!

[2019-10-02 10:18] andrea1015 commented on #110
hello

[2019-10-02 15:10] apslight commented on #116
Hay!

[2019-10-03 09:30] Momade-Junior opened #200 "I want to connect an api that can convert the coin without searching the current coin"

[2019-10-03 10:33] princelewis commented on #110
Hello World

[2019-10-04 04:54] dsweiss31 opened #201 "my first issue"

[2019-10-04 07:57] yuriolisa commented on #116
Hay..

[2019-10-04 17:01] carlinhosxxp opened #205 "New issue"
Hello world!

[2019-10-05 11:25] hnhparitosh opened #209 "my first issue"

[2019-10-06 06:36] Neilblaze commented on #116
Hello everyone :)

[2019-10-06 11:54] krishshah920 commented on #209
what is the issue?

[2019-10-06 12:04] krishshah920 commented on #116
hay

[2019-10-06 12:08] krishshah920 commented on #103
Whats the community for?

[2019-10-06 12:13] krishshah920 commented on #150
i m intrested

[2019-10-06 23:09] fibanneacci commented on #150
Hi! I'm glad to hear that! Please check out our repository here: https://github.com/fibanneacci/langplusplus

[2019-10-07 10:46] LuciferJoshi commented on #205
// C++ program to compute factorial of big numbers
#include<iostream>
using namespace std;

// Maximum number of digits in output
#define MAX 500

int multiply(int x, int res[], int res_size);

// This function finds factorial of large numbers
// and prints them
void factorial(int n)
{
    int res[MAX];

    // Initialize result
    res[0] = 1;
    int res_size = 1;

    // Apply simple factorial

[2019-10-07 12:59] sabamosleh commented on #116
hi all!

[2019-10-07 21:09] yasminnvaz opened #215 "my first issue"

[2019-10-07 21:09] #215 closed

[2019-10-08 17:39] sahilwasan000 commented on #116
Hay!

[2019-10-09 03:55] doghouch commented on #147
The only thing that is required is to put a favicon file ("favicon.ico") in the root directory of the GitHub page.

:)

[2019-10-10 15:38] mrbuddhu commented on #116
Hay !

[2019-10-11 10:43] rkruk commented on #116
Hay!

[2019-10-11 10:51] RamanaVem commented on #147
Is this still open?

[2019-10-11 13:47] rugk commented on #147
there are already two PRs that (at least claim to :wink:) solve this… (linked above)

[2019-10-11 16:01] lkalves opened #224 "My First issue"
Meu problema é em aprender Orientações a objetos, alguém tem uma dica?

[2019-10-12 11:39] punisher077 commented on #224
Tente revisar a teoria do começo, como encapsulamento e herança.

[2019-10-12 11:40] punisher077 commented on #224
Conceitos de instanciação e classes também travam muita gente.
[http://www.facom.ufu.br/~flavio/poo/files/2004-01/POO-COMPLETO.pdf](url)

[2019-10-12 15:08] ElenaKutanov opened #225 "My first issue (say hello)"

[2019-10-12 15:15] ElenaKutanov commented on #225
Hello

[2019-10-12 15:23] ElenaKutanov commented on #225
The issue closed

[2019-10-12 15:23] #225 closed

[2019-10-13 01:31] bellabeen opened #226 "My Issues"
Cant install on Backbox Linux

[2019-10-13 15:57] FarhanMuftiHilmy commented on #116
hay

[2019-10-13 16:04] FarhanMuftiHilmy opened #228 "Fixing typo issue"
Find the typo!
[tes_isssue.txt](https://github.com/yourfirstpr/yourfirstpr.github.io/files/3721930/tes_isssue.txt)

[2019-10-13 17:51] yash2189 commented on #116
hay

[2019-10-14 03:53] saivoleti17 opened #229 "Suggestion for opening twitter link and GitHub page link in new tab"
Currently, On clicking Twitter link and GitHub page link in index.html page, the links are opening in same page. My suggestion is that do we make the links open in new tab. This will help the reader of the web page to check the links in a new tab while keeping the current page open.
ex:-
 <a href='https://twitter.com/yourfirstpr' target="">@yourfirstpr</a>

![twitterlink_index_page](https://user-i

[2019-10-14 03:54] saivoleti17 commented on #229
Please provide a comment if i can go ahead and open a pull request for this suggestion

[2019-10-14 06:20] sabesansathananthan commented on #228
[tes_isssue.txt](https://github.com/yourfirstpr/yourfirstpr.github.io/files/3723164/tes_isssue.txt)
[](url)

my first issue

[2019-10-14 11:45] nikznk commented on #229
I would like to work on it

[2019-10-14 12:22] rubiotorres opened #234 "Iterative function"
Can every recursive program become iterative?

[2019-10-14 13:04] sureshpathipati commented on #110
hello world

[2019-10-14 14:18] Sayan-dev commented on #234
Yes, actually you can convert every recursive programs into it's non-recursive part following a set of rules.

[2019-10-14 16:28] nigimaster opened #235 "[410] Link First Timers Only"
Link <a href="https://medium.com/@kentcdodds/first-timers-only-78281ea47455">First Timers Only</a> not working

Getting error 410 The author deleted this Medium story.

[2019-10-14 16:31] nigimaster opened #236 "Photo not showed"
@yourfirstpr
On https://the-pastry-box-project.net/baker/charlotte-spencer photo is not being showed https://phto.ch/img/1/b64779fc9bdc4642147cd73b74a40746/a57555d373261fea469e8830ffe04962

[2019-10-15 07:14] nigimaster commented on #116
Hay!

[2019-10-15 09:10] #236 closed

[2019-10-15 18:31] AkhilGKrishnan opened #242 "my first issur"

[2019-10-16 04:17] sabesansathananthan commented on #229
I finished this issue. consider this PR.

[2019-10-16 13:48] abelberhane commented on #228
[tes_isssue.txt](https://github.com/yourfirstpr/yourfirstpr.github.io/files/3734642/tes_isssue.txt)

Does this qualify as a PR? I am not able to locate this file in the original repo

[2019-10-16 13:52] abelberhane opened #247 "My First Issue"
Hello Everyone,

This is my first issue.

[2019-10-16 19:07] smkj33 commented on #247
What is the issue ?

[2019-10-16 19:18] anandbhagwat commented on #116
Hay

[2019-10-18 12:05] tomMisson commented on #247
The issue is they don't know how to close it

[2019-10-18 12:52] abelberhane commented on #247
I know how to close it. Thanks for the help.

[2019-10-18 12:52] #247 closed

[2019-10-19 13:49] Aeolyx commented on #228
[tes_isssue.txt](https://github.com/yourfirstpr/yourfirstpr.github.io/files/3746737/tes_isssue.txt)

Fixed

[2019-10-19 13:50] Aeolyx commented on #201
what is the issue?

[2019-10-20 16:07] troublehacker opened #255 "bundle issue"
unabe to do 'bundle exec jekyll serve'
Error: Unable to resolve dependency

[2019-10-21 15:35] LuanaGP commented on #116
Hay

[2019-10-22 16:42] martakrusz opened #261 "FirstProject"
This is project about learning SQL

[2019-10-23 16:13] Yashyk456 commented on #261
How can I help in this to u

[2019-10-23 16:15] Yashyk456 commented on #192
How can i help you

[2019-10-24 12:06] blockspacer commented on #192
CXXCTP main issues
+ it needs code review or refactoring.
+ it needs ideas about tool usability. CXXCTP must be simple to use.

You can also find some `todo` in source code https://github.com/blockspacer/CXXCTP/search?q=todo&unscoped_q=todo

[2019-10-24 13:15] younlea opened #265 "my first issue 6^^"

[2019-10-24 17:10] snehit31 commented on #265
What do we need to do in this?

[2019-10-26 13:04] mhmmdjafarg commented on #265
same, i have no idea what should i do

[2019-10-26 13:57] Yashyk456 commented on #192
I am not geting whats the issue if possible you can provide me the issue and tell me what i have to do in it

[2019-10-26 13:57] Yashyk456 commented on #261
I am not geting whats the issue if possible you can provide me the issue and tell me what i have to do in it

[2019-10-26 15:21] wgcv opened #273 "My First issues Example"
Hi have a big problem

[2019-10-26 15:52] blockspacer commented on #192
@Yashyk456

Example issue:
https://github.com/blockspacer/CXXCTP/issues/87

- Remove unused includes
- Remove unused functions/variables

[2019-10-27 22:28] nwton opened #278 ""First Timers Only" deleted from Medium story"
If you try read "First Timers Only" by Kent C. Dodds following by URL https://medium.com/@kentcdodds/first-timers-only-78281ea47455 then you get error 410: "The author deleted this Medium story."

Right URL for today is https://kentcdodds.com/blog/first-timers-only

[2019-10-27 23:07] varopxndx opened #280 "My first issue"
My first issue :v

[2019-10-28 05:30] Devil1729 commented on #116
hay

[2019-10-28 19:23] truffi01 opened #281 "My first issue"
First issue

[2019-10-28 20:12] MRayyanHKhan opened #282 "My first issue."

[2019-10-29 15:38] gkg007 opened #285 "First Issue..."
Just random stuff...

[2019-10-29 15:59] HAYLEVEL opened #286 "My first issue."

[2019-10-29 15:59] #286 closed

[2019-10-29 15:59] HAYLEVEL commented on #286
My first issue.

[2019-10-30 09:06] christiawaneko opened #293 "My first issue."
My first issue.

[2019-10-30 11:14] vschatane opened #295 "My first issue"

[2019-10-31 08:37] jalanyash commented on #228
[tes_isssue.txt](https://github.com/yourfirstpr/yourfirstpr.github.io/files/3792828/tes_isssue.txt)
i corrected it!!

[2019-10-31 13:32] KanchanThareja opened #300 "My first issue.."

[2019-10-31 14:03] CSY54 opened #301 "My first issue ..."

[2019-10-31 17:20] vaibhavcs99 opened #302 "My First Issue"
Since everyone was writing the same.

[2019-12-06 18:46] Nikitapande commented on #234
Yes, recursion gives us behind the scenes can be also be done by implementing a call stack directly in the code itself

[2020-01-08 14:04] #101 closed

[2020-02-13 17:13] skyorion427 opened #307 "My first PR"
funny :)

[2020-02-14 21:57] #307 closed

[2020-04-17 17:23] DarkCode01 opened #309 "Problem run `bundle` to install project's packages."
I have had a problem trying to install packages of project, so i recommend update de GemFile.lock, 'cause the package `json v1.8.3` has problem on intsllation.

The problem's details is that:
`Fetching gem metadata from https://rubygems.org/.........
Using RedCloth 4.2.9
Following files may not be writable, so sudo is needed:
  /Library/Ruby/Gems/2.6.0
  /Library/Ruby/Gems/2.6.0/build_info
  /Libr

[2020-05-03 18:58] iamshubhankarkhare opened #310 "My first issue"
checking out whats the deal with this

[2020-05-07 03:47] Satyam52 opened #311 "Checking it out since every one was doing the same."
Another place that I have to fill.

[2020-05-07 03:48] Satyam52 commented on #311
#310

[2020-05-07 03:49] Satyam52 commented on #311
Duplicate of #301

[2020-05-07 03:49] Satyam52 commented on #311
@Satyam52

[2020-05-07 03:50] #311 closed

[2020-05-08 17:02] codewithnick opened #312 "new issue"
hello world

[2020-06-16 14:02] 16sweetyjain commented on #312
What is this issue ? May you explain.I am new to open source

[2020-06-17 17:33] codewithnick commented on #312
this is not a issue it was just my first github issue on this page (contribution to open source),I was just learning at that time how to start issues,you look like a beginner too ,you can come to my page and solve or raise some issues on my page if you like

[2020-06-17 17:33] #312 closed

[2020-07-31 02:53] Rakesh148 opened #314 "My first issue"

[2020-08-07 11:46] abhishekkumar1437 commented on #228
fixed
[tes_isssue (1).txt](https://github.com/yourfirstpr/yourfirstpr.github.io/files/5041144/tes_isssue.1.txt)

[2020-08-11 08:25] busymage opened #317 "My first issue"

[2020-08-19 20:53] neslxzhen opened #318 "So here is for everyone to place "My first issue"?"
WTF.....

[2020-08-24 23:55] antran511 opened #319 "My first issue!"

[2020-08-31 07:01] Harshalszz opened #320 "My first issue.."
Hello Everyone !!!

[2020-09-01 19:13] DamianArado opened #321 "My First Issue !!"
This is my first issue !

[2020-09-07 17:26] UjwalKandi opened #322 "My first issue"
I don't even know what I'm doing here.

[2020-09-11 10:18] pielarz opened #323 "my-first-issue"
Ay

[2020-09-11 11:36] #323 closed

[2020-09-12 14:57] Gnax49 opened #324 "My first issue"
Helloooooo

Can anyone hear me?

[2020-09-15 12:36] ShreyaDhir opened #325 "My first Issue!"
My first attempt to pull request.

[2020-09-16 07:00] elcordova opened #326 "My first Issue it's a live!!!"
hello  ** I'm live**

[2020-09-19 07:38] amitkrishna opened #327 "My First Issue"
first issue 😄

[2020-09-19 15:55] shivamsouravjha opened #328 "Cannot copy to a TensorFlowLite tensor"
I was doing a tensorflow.lite project and got a tf.lite file but got an issues :-

Cannot copy to a TensorFlowLite tensor (conv2d_input) with 16384 bytes from a Java Buffer with 3072 bytes.

[2020-09-21 09:33] udaykumaruking opened #329 "My First Issue"

[2020-09-22 15:34] #329 closed

[2020-09-23 12:13] jyrj opened #330 "My first issue goes here!"

[2020-09-23 19:12] jyrj opened #331 "this repo seems to be good for learning how issues work in open source"
thank you maintainers

[2020-09-23 23:37] wickedsmartdude opened #332 "Like Everyone's, My First issue"
Playing around with my first issue

[2020-09-24 16:58] Grace-Angulu opened #333 "Let's try making an issue uwu"

[2020-09-24 19:24] mdbleed opened #334 "My first issue"

[2020-09-24 21:11] ilhambara opened #335 "I'm trying my first issue"
It's happening, i don't know.

[2020-09-24 21:32] lkalves opened #336 "Minha primeira postagem"
Eu amo o igor, ele é hacker e lindo

[2020-09-24 21:38] ranjeeta01 opened #337 "first issue"
#new_in_community !

[2020-09-24 21:38] ranjeeta01 commented on #337
# closing my first issue

[2020-09-24 21:38] #337 closed

[2020-09-24 21:40] #325 closed

[2020-09-24 23:37] jeremykenedy opened #338 "Issue"
Expected Behavior.

Replication Steps.

Possible Issues.

Proposed solution asking if honor a PR.

[2020-09-24 23:52] AbdussamadYisau opened #340 "My First Issue"

[2020-09-25 00:47] Rendydinar opened #341 "Test Issue"
I Try To Learn Open Source Projects

[2020-09-25 00:55] gabrielmcoelho commented on #336
Deus ta vendo essa zoeira aqui

[2020-09-25 01:23] LeonardoRoccaH commented on #318
😁

[2020-09-25 02:14] nishant-sachdeva opened #343 "My first Issue"
Creating my first issue as practice here.

[2020-09-25 03:03] Rishi-121 opened #344 "My First Issue"
Creating my first practice issue here.

[2020-09-25 03:45] rumishra opened #345 "First Hacktober PR :)"
I missed out on participating IN THE hacktober '19. that was when I have first introduced to it but alas ! in the month of November.
So after a year's wait, I am here creating the first  PR for Hacktober '20.

[2020-09-25 03:51] blackinitial opened #346 "Want to learn a collaboration"
Yeah, for learn get PR and before years I not join on hacktoberfest, and today I want to learn again

Yuhuuuuu...

[2020-09-25 04:25] Ahana001 opened #347 "Hactoberfest First issue ۹(ÒہÓ)۶"
My first issue
<p>I will display &#128524;</p>

[2020-09-25 04:25] Pimmy009 opened #348 "My first issue."
Hey there, this is my first issue, so yay!

[2020-09-25 04:38] AhsanRiaz9 opened #349 "My first issue"

[2020-09-25 04:41] Mazekeen08 opened #350 "First Ever Pull request"
Hey there! Excited to my opening to connect.

[2020-09-25 04:44] Ritwik880 opened #351 "i want to contribute"

[2020-09-25 05:05] heet-vakharia commented on #351
How can I contribute in this?

[2020-09-25 05:33] Geoveza opened #352 "First issues!"
~

[2020-09-25 06:36] hianshul07 commented on #350
Hello, this is for my first ever hacktoberfest submission.

[2020-09-25 06:41] Pranavram2309 opened #355 "Hi everyone, looking forward to contribute to the open source community"

[2020-09-25 06:53] varshini2305 opened #357 "Ready to be an open source contributor, an eager developer :)"

[2020-09-25 07:25] ilgala opened #358 "First issue"
Italian nerd here to contribute!

[2020-09-25 07:37] AslanDevbrat opened #359 "Indian Developer learning to contribute"

[2020-09-25 07:53] ravikr126 commented on #351
use git  for clone the files on your localhost and edit all the issues and make a pull request and then it will contribute

[2020-09-25 08:09] ravikr126 opened #361 "how to enhance the code"
how a person code relevantly for a program

[2020-09-25 08:09] ravikr126 opened #362 "My first issue"
how a person code relevantly for a program

[2020-09-25 08:10] ravikr126 opened #363 "I want to contribute"

[2020-09-25 10:19] shashank76 opened #364 "First Issue PR"

[2020-09-25 10:29] #364 closed

[2020-09-25 12:18] AlpinShit opened #366 "I want to contribute"
I Want to join

[2020-09-25 12:41] lucaslrt opened #367 "I want to contribute"
My first issue on hacktober fest!

[2020-09-25 12:45] jivthesh opened #368 "#My first issue"
created my first issue

[2020-09-25 13:03] gabialverga opened #369 "My first issue on hacktober fest!"
My first issue on hacktober fest!

[2020-09-25 13:13] saripirala opened #370 "My first issue in hactoberfest"
Creating a new issue

[2020-09-25 13:34] Gnax49 opened #371 "My first issue in hactoberfest"
start new issue

[2020-09-25 16:16] kdimas12 opened #372 "My first issue"
i want to contribute for hacktoberfest

[2020-09-25 16:21] cruiz24 opened #373 "My first Issue"
I want to contribute.

[2020-09-25 16:40] odmera opened #375 "My first issue in hactoberfest"

[2020-09-25 17:00] ricardocalleja commented on #375
My first issue in hactoberfest

[2020-09-25 18:00] inj3ct3d commented on #359
Let's try to add some content to your Project as a test because I'm also a totsl beginner

[2020-09-25 18:42] Bash009 commented on #375
My first issue in hactoberfest

[2020-09-25 20:06] Hydefs opened #378 "My first Issue"
I want to contribute.

[2020-09-26 12:38] PakDHE5758 opened #379 "my first issue in hacktoberfest 2020"

[2020-09-26 21:22] SamsadSajid opened #380 "First issue on Hacktober 2020"
The first time hopefully going to contribute to the open-source community. I am very much excited and looking forward to it.

[2020-09-27 00:45] shadow-recruit commented on #380
Hey, so what's happening? everyone is creating a blank/empty issue, that's all?

[2020-09-27 00:47] shadow-recruit opened #381 "Trying to create an issue"
Yo, this is not very difficult, is it?

[2020-09-27 12:08] chicken-biryani opened #382 "My first issue"
So, I thought the title can be a little more decorative. Making the changes

[2020-09-28 01:07] HakaCode opened #384 "my first issue on Repo"
I want to learn how to improve the code.

[2020-09-28 06:25] khushali77 opened #385 "I started today with Open Sooouurce!"
Anyone who is with me. Kindly feel free to join me and help me. This is my first issue. Ewwwww

[2020-09-28 08:10] TempuraLantanis opened #386 "My first Issue"
Want to participate in Hacktoberfest

[2020-09-28 08:54] PratikshitSingh opened #387 "My first issue"

[2020-09-28 09:29] PPInfy opened #388 "My first issue"
I have raised issues in the past. But raising this one for #hacktoberfest.

[2020-09-29 00:35] Liopun opened #390 "First issue"
Open-source collaboration 2020 #hacktoberfest.

[2020-09-29 05:49] Kalebu opened #391 "My very first issue in hacktoberfest"

[2020-09-29 07:58] mk0d3r opened #392 "My first issue"
for hacktoberfest 2020

[2020-09-29 11:52] manas0411 opened #394 "This is my first issue for hacktoberfest."
issue for hacktoberfest.

[2020-09-29 13:33] Ayushmaan2001 opened #395 "My First issue"
Hi
First time participating in open source collab and hacktoberfest

[2020-09-29 15:00] LoisChoji opened #396 "First issue"
Hey, this is my first issue.

[2020-09-29 18:57] AnushkaThakkar opened #397 "First Issue"

[2020-09-29 19:15] varun-b-g opened #398 "My first Issue"

[2020-09-29 20:36] #398 closed

[2020-09-30 11:43] MasterZeR0 opened #400 "First issue for Hacktoberfest 2020"

[2020-09-30 19:09] 93lykevin opened #402 "My First Issue"

[2020-09-30 23:40] #340 closed

[2020-10-01 04:45] gouravkmar2 opened #404 "my first issue"
starting my first issue for hacktoberfest

[2020-10-01 11:28] aselmrc opened #406 "My first issue on Hacktoberfest"